<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Token expired💩</title>
    <style>
        body {
            font-family: 'Comfortaa', cursive;
            margin: 0;
            background-color: #E6E9ED;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            font-size: 30px;
            line-height: 33px;
            color: #5051F9;
            text-align: center;
        }
        .cake {
            font-size: 70px;
        }
    </style>
</head>

<body>
    <h1>Token expired</h1>
    <h1 class = 'cake'>💩</h1>
</body>

</html>
